@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("CreateDumper", "Home", FormMethod.Post))
{
    <input type="submit" value="Create" />
}
<div>
    @Html.ActionLink("Go to Dumper", "Within", "Dumper")
</div>
